<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Cointoss</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <script src="../static/js/cointoss.js" th:src="@{/js/cointoss.js}"></script>

</head>

<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->
<div id="cointoss" class="container">
    <div class="col-xs-12">
        <div class="row">
            <p id="message" class="text-center">Toss the coin!</p>
        </div>
        <div class="row text-center">
            <img id="coin" src="../static/images/50-groszy-awers.jpg"
                 th:src="@{images/50-groszy-awers.jpg}"/>
        </div>
        <div class="row text-center">
            <button id="button" type="button" class="btn btn-primary">Toss the coin</button>
        </div>
    </div>
</div>

</body>
</html>