<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Dice Throw</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <script src="../static/js/dicethrow.js" th:src="@{/js/dicethrow.js}"></script>
</head>
<body>
<!--/*/ <th:block th:include="fragments/navbar :: navbar"></th:block> /*/-->

<div id="cointoss" class="container">
    <div class="col-xs-12">
        <div class="row">
            <p id="message" class="text-center">Throw the dice!</p>
        </div>
        <div id="dicethrow" class="row text-center">
            <img id="dice"
                 src="../static/images/dice/dice-1.jpg"
                 th:src="@{/images/dice/dice-1.jpg}"/>
        </div>
        <div class="row text-center">
            <button id="button" type="button" class="btn btn-primary">Throw the dice</button>
        </div>
    </div>
</div>
</body>
</html>